<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Agricultor</title>
    <style>
          body {
            background-color: #00796B;
            color: #fff;
            text-align: center;
        }

        h1 {
            margin-top: 70px;
        }

        form {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background-color: #B2DFDB;
            border-radius: 10px;
        }

        label, input {
            display: block;
            margin-bottom: 10px;
            color: #212121;
        }

        input[type="text"] {
            width: 100%;
            padding: 5px;
            border: none;
            border-radius: 5px;
            color: black;
            text-align: center;
        }

        input[type="submit"] {
            background-color: #009688;
            color: #212121;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input:invalid, select:invalid {
        border: 2px solid red;
        }
    </style>
</head>
<body>
    <h1>Editar Agricultor</h1>
    <form action="/update/<%= farmer.id %>" method="POST">
        <label for="corporateReason">Razão Social:</label>
        <input type="text" id="corporateReason" name="corporateReason" required value="<%= farmer.corporateReason %>">

        <label for="fantasyName">Nome Fantasia:</label>
        <input type="text" id="fantasyName" name="fantasyName" required value="<%= farmer.fantasyName %>">

        <label for="cpfCnpj">CNPJ/CPF:</label>
        <input type="text" id="cpfCnpj" name="cpfCnpj" required value="<%= farmer.cpfCnpj %>">

        <label for="numberCell">Celular:</label>
        <input type="text" id="numberCell" name="numberCell" value="<%= farmer.numberCell %>">

        <label for="city">Cidade:</label>
        <input type="text" id="city" name="city" required value="<%= farmer.city %>">

        <label for="state">Estado:</label>
        <input type="text" id="state" name="state" pattern=".{2}" required value="<%= farmer.state %>">

        <input type="submit" value="Salvar Alterações">
    </form>
</body>
</html>
